font-basic(weight, color, size) {
  font-weight weight
  color color
  font-size size
};

title(size) {
  font-basic(bold, #464c5b, size)
};

content(size) {
  font-basic(normal, #657180, size)
};

tip-font(size) {
  font-basic(normal, #9ea7b4, size)
};

disable-font(size) {
  font-basic(normal, #c3cbd6, size)
};
